<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.bertkamphuis.mijnfm"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>MijnFM</name>

    <description>
       De lokale frequenties van alle radiozenders in één overzicht.
    </description>

    <author href="" email="kamphuisbert@hotmail.com">
       Bert Kamphuis 
    </author>
    
    <preference name="phonegap-version" value="2.3.0" />
    
	<icon src="icons/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />

<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>

</widget>